
body{
	width: 95%;
}

span{
	font-size: 20px;
	margin-right: 20px;
	width: 20px;
	text-align: center
}


.accordion-wrapper{
	margin-top: 40px;
}
.accordion{
	padding: 15px;
	height: auto;
	cursor: pointer;
	margin-top: 6px;
	width: auto;

}

.content{
	padding-top: 10px;
	padding-left: 10px;
	display: none;
	cursor: text;

}

.accordion a{
	color: #111;
	background-color: #f0f0f0;
	width: 100%;
	padding: 20px;
	padding-right: 90%;
	margin: auto;

}

.accordion a:hover{
		background-color: #aaa;

}

.open{
	display: block
}
